*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nexa";
    font-weight: 400;
}

@font-face {
    font-family: "Nexa";
    src: url(../public/fonts/Nexa-ExtraLight.ttf);
    font-weight: 300;
    font-style: normal;
}
    
@font-face {
    font-family: "Nexa";
    src: url(../public/fonts/Nexa-Heavy.ttf);
}


.exit{
    width: 120px;
    height: 100px;
    margin-top: 30px;
    justify-self: flex-start;
    align-self: flex-start;

    img{
        width: 100px;
        color: #fde401;
    }
}

body{
    color: white;
}

h2{
    font-size: 60px;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 700;
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;

    & button{
       background: linear-gradient(90deg, #968FF8 0%, #F1D3F9 100%);
    }
}

input, button{
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 400px;
}

input{
    background-color: rgba(255, 255, 255, .2);
    color: rgba(255, 255, 255, .9);
}

input::placeholder{
    color: rgba(255, 255, 255, .5);   
}

button{
    margin-top: 8px;
    font-weight: 700;
    color: rgba(0, 0, 0, .8);
    padding: 16px;
    cursor: pointer;
    transition: all .3s;
}

button:hover{
    transform: translateY(-2px);
}

p{
    margin-bottom: 32px;
    width: 400px;
    text-align: center;
    color: rgba(255, 255, 255, .8);
}

.containerPai{
    width: 100%;
    height: 100vh;
    background-color: #292E31;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: colors 15s ease infinite;
    background-image: url(../public/images/loginback.png);
    background-size: cover  ;
    background-repeat: no-repeat;
    background-position: center;
}

.card{
    width: 80%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    padding: 32px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.esquerda, .direita{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.formLogin, .facaLogin, .formCadastro, .facaCadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facaLogin, .facaCadastro{
    position: absolute;

    h2, p{
        color: #fff;
    }

    button {
        background-color: rgba(255, 255, 255, .2);
        border: 2px solid rgba(255, 255, 255, 0.8);
        color: rgba(255, 255, 255, 0.8);
    }
}

/*BACKGROUND MOVEL*/

.card::after{
    width: 100%;
    height: 100%;
    content: "";
    filter: brightness(50%);
    background-image: url(../public/images/test.jpg);
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

/*LOGIN ACTIVE*/

.card.loginActive .facaLogin{
    opacity: 0;
    pointer-events: none;
}

.card.loginActive .facaCadastro{
    transform: translateX(0);
    transition: all .3s .3s;
    opacity: 1;
}

.card.loginActive .formLogin{
    transition: all .3s .3s;
    opacity: 1;
}

.card.loginActive .formCadastro{
    opacity: 0;
    pointer-events: none;
}

.card.loginActive::after{
    transform: translateX(50%);
}

/*CADASTRO ACTIVE*/

.card.cadastroActive .facaCadastro{
    opacity: 0;
    pointer-events: none;
}

.card.cadastroActive .facaLogin{
    transform: translateX(0);
    transition: all .3s .3s;
    opacity: 1;
}

.card.cadastroActive .formCadastro{
    transition: all .3s .3s;
    opacity: 1;
}

.card.cadastroActive .formLogin{
    opacity: 0;
    pointer-events: none;
}

.card.cadastroActive::after{
    transform: translateX(-50%);
}

/*TRANSITIONS*/

.card::after{
    transition: all .5s;
}

.facaCadastro{
    transition: all .3s 0;
    transform: translateX(200%);
    opacity: 0;
}

.formLogin{
    opacity: 0;
    transition: all .3s 0;
}

.facaLogin{
    transition: all .3s 0;
    transform: translateX(200%);
    opacity: 0;
}

.formCadastro{
    opacity: 0;
    transition: all .3s 0;
}